body {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #1c1e22;
}

.text-center {
    text-align: center;
}

h1,
h2 {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 36px;
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1,
h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
}

h2 {
    font-size: 24px;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
